@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

.App {
  text-align: center;
  font-family: 'Tomorrow', sans-serif;
}

.App h1 {
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
}